<!DOCTYPE html>
<html>
	<head>
		<title>Commit Analyzer - Admin</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= stylesheet_link_tag    'dashboard', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'dashboard', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
<body class="has-drawer">
	
    <div id="drawerExample" class="drawer dw-xs-10 dw-sm-6 dw-md-4 fold">
        <div class="drawer-controls">
            <a href="#drawerExample" data-toggle="drawer" aria-foldedopen="false" aria-controls="drawerExample" class="btn btn-primary btn-sm">Menu2</a>
        </div>
        <div class="drawer-contents">
            <div class="drawer-heading">
                <h2 class="drawer-title">Menu1</h2>
            </div>
            <div class="drawer-body">
                <p>
                    This is a properly padded container for content in the
                    drawer that isn't a navigation.
                </p>
                <a href="#">A Regular Link</a>
            </div>
            <ul class="drawer-nav">
                <li role="presentation" class="active"><a href="#">Home</a></li>
                <li role="presentation"><a href="#">Profile</a></li>
                <li role="presentation"><a href="#">Messages</a></li>
            </ul>
            <div class="drawer-footer">
                <small>Tanmay Patil</small>
            </div>
        </div>
    </div>
    <div class="container">
        <%= yield %>
    </div>

</body>
</html>
